.c-profile {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--color-grey-900);
    background-color: #FAFAFA;
    > * + * {
        //margin-block-end: 10px;
        margin-inline-start: 10px;
    }

    &.--is-active {
        border-color: var(--color-main-500);
        background-color: var(--color-main-100);
    }
}
.c-profile__content {
    flex-grow: 1;
}