:root {
  --gap: 20px;
}
ul {
  padding: 0;
  list-style: none;
}
body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
}
main {
  > * {
    margin: var(--gap);
  }
}
img {
  max-width: 100%
}




.o-margin-bottom {
  > * + * {
    margin-top: var(--gap);
  }
}


.c-header {
  padding: 6px 12px;
  background-color: red;
  color: #FFF;
  > h1 {
    margin: 0;
  }
  &.--success {
    background-color: green;
  }
}
.c-profile {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #DADADA;
  background-color: #FAFAFA;
  > * + * {
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
.c-avatar {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}



.c-heading-2 {
  margin: 0;
  font-size: 16px;
}
.c-date {
  color: #777;
}


.c-update {
  text-align: right;
  color: #777
}