// Headings

.a-heading-2 {
    font-size: 18px;
}


// Form elements
.a-button {
    height: var(--form-height);
    padding: 0 12px;
    border: 2px solid var(--color-grey-900);
    background-color: #777;
    color: #FFF;
}