.o-margin-bottom {
    > * + * {
        margin-top: var(--gap);
    }
}

.o-grid {
    margin-inline-start: calc(-1 * var(--half-gap));
    margin-inline-end: calc(-1 * var(--half-gap));
    margin-block-end: calc(-1 * var(--gap));
    @media (min-width: 650px) {
        display: flex;
        flex-wrap: wrap;
    }
    > * {
        box-sizing: border-box;
        padding: 0 var(--half-gap) var(--gap) var(--half-gap);
        @media (min-width: 980px) {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
        @media (max-width: 979px) and (min-width: 650px) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}