:root {
    --half-gap: 10px;
    --gap: 20px;

    --form-height: 42px;

    --color-grey-900: #333;
    --color-main-500: #c40002;
    --color-main-100: #fdecec;
    --color-success: green;
    --color-error: red;

    // media queries
    //--small: 600px;
    //--large: 980px;
}